# === AIRFLOW ===
apache-airflow==2.9.3

# === DATA PROCESSING ===
pandas==2.1.4
pyarrow==15.0.0  # Para archivos parquet

# === DATA DOWNLOAD ===
yfinance==1.1.0
requests==2.31.0

# === VISUALIZACIÓN (opcional, para explorar datos) ===
matplotlib==3.8.2
seaborn==0.13.1
plotly==5.18.0

# === MACHINE LEARNING ===
scikit-learn==1.5.2

# === API Y DASHBOARD ===
flask==2.2.5
flask-cors==6.0.2
streamlit==1.54.0